[submodule ".devcontainer/ESP32DevEnv"]
	path = .devcontainer/ESP32DevEnv
	url = git@github.com:kdimonych/ESP32DevEnv.git
	branch = main
[submodule "AbstractPlatform"]
	path = AbstractPlatform
	url = git@github.com:kdimonych/AbstractPlatform.git
	branch = MultilayerDisplayDriver
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "AsyncTCP"]
	path = AsyncTCP
	url = https://github.com/ESP32Async/AsyncTCP.git
[submodule "ESPAsyncWebServer"]
	path = ESPAsyncWebServer
	url = https://github.com/ESP32Async/ESPAsyncWebServer.git
